<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/videos/" method="post"  enctype="multipart/form-data">
{% csrf_token %}
    {{ form }}
    <button type="submit">submit</button>

</form>
</body>
</html>